node_modules
*.log
.next
app
dist

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# IDEA
/.idea
# VS CODE
.vscode

# Config
/renderer/shared/config/
